<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>BioCroft</h1>
            <hr>
            <p>Ανακάλυψε την αυθεντική γεύση της οικογενειακής μας παράδοσης στα βιολογικά φασόλια και φακές μας. Καλλιεργούνται με αγάπη σε οικογενειακά χωράφια, χρησιμοποιώντας αγνά υλικά για να σου προσφέρουν αυθεντική φύση σε κάθε δείπνο!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">ΔΕΣ ΠΕΡΙΣΣΟΤΕΡΑ</a>
        </div>
    </div>
</header>
